.App {
  font-family: 'Gowun Batang', serif; text-align: center; width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center;
}

h1 ,h3 {
  margin: 0;
}
ul, li {
  list-style: none; margin: 0; padding: 0;
}

.container{
  border: 1px solid #000; width: 400px; margin: 0 auto; padding: 20px 30px; 
}

.container h1 {
  margin-bottom: 30px;
}

.container .content::after {
  content: ''; display: block; visibility: hidden; clear: both;
}

.container .content:not(:last-child) {
  margin-bottom: 15px;
}

.container h3 {
  width: calc(10% - 20px); float: left; line-height: 50px; font-size: 23px;
}

.container ul {
  width: calc(75% - 20px); margin-left: 30px; float: left;
}

.container ul:after {
  content: ''; display: block; visibility: hidden; clear: both;
}
.container ul li {
  float: left; width: 50px; height: 50px; border-radius: 50%; cursor: pointer;
}

.container ul li:not(:first-child) {
  margin-left: 7.5px;
}

.container .content button{
  float: left; background: transparent url("./btn_img.png") no-repeat center; background-size: cover; width: calc(15% - 20px); height: 50px; border: none; cursor: pointer; margin-left: 30px;
}

.container .content button a{
  display: block; height: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
